# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on One-to-Many and Many-to-many relationships!

## Objectives

You will be able to:
- Query data including Many-to-Many relationships
- Write queries that make use of Join Tables

## One-to-Many and Many-to-Many Joins
<img src='Database-Schema.png' width=550>

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
cur = conn.cursor()

In [19]:
#Your code here
#first name, last name, city, state
query = """
SELECT
  employees.firstName
, employees.lastName
, offices.city
, offices.state
FROM
  employees 
JOIN offices
  ON employees.officeCode = offices.officeCode
;


"""

In [12]:
result = cur.execute(query)

In [13]:
result.description

(('firstName', None, None, None, None, None, None),
 ('lastName', None, None, None, None, None, None),
 ('city', None, None, None, None, None, None),
 ('state', None, None, None, None, None, None))

In [8]:
result_data = list(result)

In [15]:
len(result_data)

23

In [14]:
result_data = []
for row in result:
    result_data.append(row)

In [17]:
pd.DataFrame(result_data).head()

         0          1              2   3
0    Diane     Murphy  San Francisco  CA
1     Mary  Patterson  San Francisco  CA
2     Jeff   Firrelli  San Francisco  CA
3  William  Patterson         Sydney
4   Gerard     Bondur          Paris

In [18]:
columns = [row[0] for row in result.description]

['firstName', 'lastName', 'city', 'state']

## Customers and their Orders (a One-to-Many join)

Return a list of all of the customers. For each customer return a record for each of their order numbers, order dates and statuses.

In [2]:
# Your code here

## Orders and their Order Details (another One-to-Many join)

Return a list of orders. For each order return a record for each order detail within the order.

In [3]:
# Your code here

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of the orders with the the order information, and all the product information for each product in the order.

In [4]:
# Your code here

## Summary

In this lab, you practiced your knowledge on One-to-Many and Many-to-many relationships!